* {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; -ms-box-sizing:border-box;}
body, html {width:100%; margin:0; padding:0; background: #272822; color:#a6e22e; font:19px/1.2 'Calibri', sans-serif; height: 100%; min-width: 1000px;}
a {color:#53c1d3; border-bottom: 1px solid; text-decoration:none; -webkit-transition:all .5s cubic-bezier(.65,.85,.11,1.03); -moz-transition:all .5s cubic-bezier(.65,.85,.11,1.03); -o-transition:all .5s cubic-bezier(.65,.85,.11,1.03); transition:all .5s cubic-bezier(.65,.85,.11,1.03);}
a:hover {border-color: transparent; text-decoration:none;}
.page_rubber {width:100%; min-width:1000px; overflow:hidden;}
.wrapper {position:relative; width:980px; margin:0 auto;}
p {margin: 0 0 10px;}

h1,
.content,
.nav {border: 1px solid #4d4e46; padding: 15px; margin: 15px 0;}

.article-link {margin: 12px 0;}

.nav_link a,
.form_submit input {display: inline-block; height: 40px; line-height: 40px; padding: 0 25px; border: 1px solid #53c1d3; background: #53c1d3; color: #272822;}
.nav_link a:hover,
.form_submit input:hover {background: none; color: #53c1d3;}

.form_item {margin-bottom: 10px;}
.form_item input,
.form_item textarea {font-size: 19px; font-family: 'Calibri', sans-serif; color: #a6e22e; background: none; border: 1px solid #ae81ff; outline: none; width: 100%;}
.form_item input {padding: 0 10px; line-height: 40px; height: 40px;}
.form_item input[type="checkbox"] {width: 16px; height: 16px; margin: 0;}
.form_item textarea {padding: 10px; line-height: 1.2; max-width: 100%; min-height: 300px;}
.form_submit input {outline: none; -webkit-appearance: none; cursor: pointer; font:19px/40px 'Calibri', sans-serif; -webkit-transition:all .5s cubic-bezier(.65,.85,.11,1.03); -moz-transition:all .5s cubic-bezier(.65,.85,.11,1.03); -o-transition:all .5s cubic-bezier(.65,.85,.11,1.03); transition:all .5s cubic-bezier(.65,.85,.11,1.03);}

.error_text {border: 1px solid #da2731; padding: 15px 15px 0; margin-bottom: 15px;}